body{
    background: linear-gradient(120deg, #4425cc, #a9778f);
    overflow: hidden;
    margin-bottom: 500px;
}

.chatdiv{

	background: rgba(255, 255, 255, 0.05);
	height:450px ;
	overflow-y: scroll;
    position: relative;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

.chatdiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 10px;
}

.chatdiv::-webkit-scrollbar
{
	width: 10px;
	background-color: rgba(255, 255, 255, 0.05);
}

.chatdiv::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
}

#message{
	background-color: rgba(255, 255, 255, 0.05);
	border: none;
	height: 45px;
	color: #fff;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

#send{
	background-color: rgba(255, 255, 255, 0.10);
	height: 44px;
	width:50px ;
	color: #fff;
	margin: 1px;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

.sent{
	padding: 10px;
	padding-left: 30px;
	background-color: rgba(255, 255, 255, 0.10);
	color: white;
	border-radius: 5px;
	display: inline-block;
}

.received{
	padding: 10px;
	padding-left: 30px;
	background-color: rgba(255, 255, 255, 0.10);
	color: white;
	border-radius: 5px;
	display: inline-block;
}

.chatheader{
	background: #245580;
	padding: 10px;
} 

th,td{
	padding: 3px;
    border: 1px solid white;
    background: #245580;
}

.micspan {
	float: right;
	margin-right: 18px;
	margin-top: -27px;
	position: relative;
	z-index: 2;
	color: #d0cdcd;
	cursor:pointer;
}

.micspan_on {
	float: right;
	margin-right: 18px;
	margin-top: -27px;
	position: relative;
	z-index: 2;
	color: #fd2a2a;
	cursor:pointer;
}


